<h5 class="page_title ml-3">Edit My Page</h5>

<div class="col-10 mx-auto ">
    <%= form_with model: @end_user, url: end_users_information_path, local:true do |f| %>

    <div class="form-group row text mt-3">
          <%= f.label :first_name, "氏名", class: "col-3 col-form-label" %>
          <div class="col-4">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="col-4">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
    </div>

    <div class="form-group row text">
          <%= f.label :first_name, "フリガナ", class: "col-3 col-form-label"  %>
          <div class="col-4">
            <%= f.text_field :last_name_kana, class: "form-control" %>
          </div>
          <div class="col-4">
            <%= f.text_field :first_name_kana, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row text">
          <%= f.label :phone_number, "電話番号", class: "col-3 col-form-label" %>
          <div class="col-4">
            <%= f.text_field :phone_number, class: "form-control" %>
          </div>
        </div>

        <div class="form_group row text">
          <%= f.label :email, "メールアドレス", class: "col-3 col-form-label" %>
          <div class="col-4">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form_group row my-4 text">
          <div class="col-2 offset-3">
            <%= f.submit "編集内容を保存", class: "btn btn-success" %>
          </div>

          <div class="offset-1 col-2">
            <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger btn-block" %>
          </div>

        </div>

    <% end %>