マイページ

<h5 class="font-weight-bold my-3 d-inline-flex">登録情報</h5><span class="ml-5"><%= link_to "編集する", end_users_information_path, class: "btn btn-success btn-sm" %></span>
<table class="table table-bordered table-hover mt-3">
    <tbody>
        <tr>
            <td>氏名</td>
             <td><%= @end_user.last_name %> <%= @end_user.first_name %></td>
        </tr>
        <tr>
            <td>カナ</td>
            <td><%= @end_user.last_name_kana %> <%= @end_user.first_name_kana %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td class="light-text"><%= @end_user.phone_number %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td class="light-text"><%= @end_user.email %></td>
        </tr>
    </tbody>
</table>