<h1 class="page_title ml-3">My Page</h1>

<div class="container pt-3">

  <table class="table table-bordered table-hover mt-3">
    <tbody>
        <tr>
            <th>氏名</th>
             <td><%= @end_user.last_name %> <%= @end_user.first_name %></td>
        </tr>
        <tr>
            <th>カナ</th>
            <td><%= @end_user.last_name_kana %> <%= @end_user.first_name_kana %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td class="light-text"><%= @end_user.phone_number %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td class="light-text"><%= @end_user.email %></td>
        </tr>
    </tbody>
  </table>

  <div class="text-center pt-3">
    <span class="mr-5"><%= link_to "Edit", end_users_information_path, class: "btn btn-success btn-sm" %></span>
    <%= link_to "Log Out", destroy_end_user_session_path, method: :delete %>
  </div>

</div>