<h1>投稿詳細画面</h1>

    <h4>投稿者</h4>
    <%= @end_user.last_name %> <%= @end_user.first_name %>
    <h4>画像</h4>
      <%= image_tag @post.image, size: "800x500" %>
      <% @post.tags.each do |tag| %>
    <%= tag.name %>
    <% end %>
    <h4>場所</h4>
      <%= @post.location %>
    <h4>料金</h4>
      ¥<%= @post.cost %>
    <h4>スケジュール</h4>
      <%= @post.day1 %>泊<%= @post.day2 %>日
    <h4>説明</h4>
      <%= @post.description %>

    <% if @post.end_user == current_end_user %>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>

  <div>
    <% if @post.favorited?(current_end_user) %>
    <%= link_to post_favorites_path(@post.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
    <% else %>
    <%= link_to post_favorites_path(@post.id), method: :post do %>
        <span>❤︎</span>
    <% end %>
    <% end %>
  </div>

