<%= form_with model: @end_user, url: end_user_registration_path, local:true do |f| %>
<%= render "public/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="card-container">
      <div class="card-body">
          <h3 class="card-title text-center mb-4 mt-1">Registration</h3>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :last_name, placeholder:'姓' %>
    <%= f.text_field :first_name, placeholder:'名' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name_kana, placeholder:'セイ' %>
    <%= f.text_field :first_name_kana, placeholder:'メイ' %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder:'email' %>
  </div>

  <div class="field">
    <%= f.label :"電話番号（ハイフン無し）" %><br />
    <%= f.text_field :phone_number, placeholder:'phone_number' %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'password_confirmation' %>
  </div>

  <div class="actions text-center">
    <%= f.submit "登録",class: "btn btn-sm btn-primary " %>
  </div>

  <div class="row">
    <div>
      <h5 class="my-4">既に登録済みの方</h5>
    </div>
    </div>
    <div class="row justify-content-center">
  　  ログインは <%= link_to "こちら", "/end_users/sign_in" %>
    </div>

     </div>
    </div>
  </div>

<% end %>

