<h1>会員詳細</h1>

<table class="table table-borderless">
        <tr>
          <th class="w-25 text">会員ID</th>
          <td class="light-text"><%= @end_user.id %></td>
        </tr>
        <tr>
          <th class="text">氏名</th>
          <td class="light-text"><%= @end_user.last_name + @end_user.first_name %></td>
        </tr>
        <tr>
          <th class="text">フリガナ</th>
          <td class="light-text"><%= @end_user.last_name_kana + @end_user.first_name_kana %></td>
        </tr>
        <tr>
          <th class="text">メールアドレス</th>
          <td class="light-text"><%= @end_user.email %></td>
        </tr>
        <tr>
          <th class="text">会員ステータス</th>
          <td class="text">
            <% if @end_user.is_deleted %>
              <span>退会</span>
            <% else %>
              <span class="text-success">有効</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td class="text">
            <%= link_to "編集する", edit_admin_end_user_path(@end_user.id), class: "btn btn-success mr-4 col-2" %>
            <%= link_to "投稿一覧を見る", class: "btn btn-primary ml-5" %>
          </td>
        </tr>
</table>