<!DOCTYPE html>
<html>
  <head>
    <title>Tabizukan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f1e9e2c6a2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'public/homes/header' %>
    <%= yield %>
  </body>
</html>
